{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Mentor</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ path('homepage') }}">Dashboard</a></li>
                    <li><a href="{{ path('bill') }}">Facture</a></li>
                    <li><a href="{{ path('generator') }}">Générateur</a></li>
                    <li><a href="{{ path('job') }}">Emploi</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            <h1>Facture</h1>
            <h2>{{ "now"|date('d/m/Y') }}</h2>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Mentoré</th>
                        <th>Parcours</th>
                        <th>Projet</th>
                        <th>Tarif</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>
                            <select class="path">
                                <option>Choisir un projet</option>
                                {% for path in paths %}
                                    <option value="{{ path.id }}">{{ path.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="project">

                            </select>
                        </td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var defaultLink = "{{ absolute_url(path('ajax_project', {'project_id': 1})) }}";
        $(document).ready(function(){
            $.ajax({
                url: defaultLink,
                success: function (data) {
                    $('.project option').remove();
                    var table = data.data;
                    var select = $('.project');
                    table.forEach(function (project) {
                        var option = '<option value="' + project.id + '">' + project.name + '</option>';
                        select.append(option);
                    });
                }
            });

            $('.path').change(function () {
                var link = "{{ absolute_url(path('ajax_project', {'project_id': "value" })) }}";
                link = link.replace("value", $(this).val());
                $.ajax({
                    url: link,
                    success: function (data) {
                        $('.project option').remove();
                        var table = data.data;
                        var select = $('.project');
                        table.forEach(function (project) {
                            var option = '<option value="' + project.id + '">' + project.name + '</option>';
                            select.append(option);
                        });
                    }
                })
            });
        });
    </script>
{% endblock %}
