{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="starter-template">
            <h1>Facture</h1>
            {{ form_start(form) }}
            {{ form_widget(form.date.day, {'attr': {'class': 'hide'}}) }}
            {{ form_end(form) }}
            <button id="submit">Générer la facture</button>

            <table class="table table-hover" id="bill">
                <thead>
                <tr>
                    <th>Désignation</th>
                    <th>Quantité</th>
                    <th>Unité</th>
                    <th>P.U. HT</th>
                    <th>Total HT</th>
                </tr>
                </thead>
            </table>
            <div id="loading" class="loading"><img src="{{ asset('assets/img/spinner.gif') }}"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var initBill,
            month,
            year;

        $(document).ready( function() {
            if (true !== initBill) {
                var today = new Date();
                month = today.getMonth() + 1;
                year = today.getFullYear();
                getBill(month, year);
            }

            $('#submit').click( function() {
                month = $('#form_date_month').val();
                year = $('#form_date_year').val();

                getBill(month, year);
            });
        });

        function getBill(month, year) {
            if ($('tfoot').length !== 0) $('tfoot').remove();
            if ($('tbody').length !== 0) $('tbody').remove();

            var link = "{{ absolute_url(path('ajax_generator', {'month': "selectedMonth", 'year': "selectedYear"})) }}";

            link = link.replace("selectedMonth", month).replace("selectedYear", year);

            $.ajax({
                url: link,
                beforeSend: function () {
                  $('#loader').show();
                },
                success: function (data) {
                    var bill = $('#bill');
                    var rows = data.type;
                    var tableBody = '<tbody>';

                    if (rows.length !== 0) {
                        var foot = '<tfoot>' +
                            '<tr>' +
                            '<th colspan="4" class="text-right">Total</th>' +
                            '<th>' + data.amount + '</th>' +
                            '</tr>' +
                            '</tfoot>';
                        bill.append(foot);

                        rows.forEach(function(elt){
                            var sessionType = elt.noshow ? 'No-show - ' : '';
                            var row ='<tr>' +
                                '<td>' + sessionType + 'Session niveau ' + elt.level + '</td>' +
                                '<td>' + elt.total + '</td>' +
                                '<td>session</td>' +
                                '<td>' + elt.price + '</td>' +
                                '<td>' + elt.price * elt.total + '</td>' +
                                '</tr>';

                            tableBody += row;
                        });
                    } else {
                        tableBody += '<tr><td>Aucune session saisie pour cette période.</td></tr>';
                    }
                    tableBody += '</body>';
                    bill.append(tableBody);

                    initBill = true;
                },
                error: function (error) {
                    console.log(error);
                },
                complete: function () {
                    $('#loading').hide();
                }
            });
        }
    </script>
{% endblock %}
