{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="starter-template">
            <h1>Facture</h1>
            <h2>{{ "now"|date('d/m/Y') }}</h2>

            {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flash_message }}
            </div>
            {% endfor %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Mentoré</th>
                        <th>Parcours</th>
                        <th>Projet</th>
                        <th>Type</th>
                        <th>No-show</th>
                        <th>Tarif</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% include 'bill/_session_form.html.twig' %}
                    </tr>

                    {% for session in sessions %}
                    <tr>
                        <td>{{ session.date | date('d/m/Y') }}</td>
                        <td>{{ session.student.firstname }} {{ session.student.lastname }}</td>
                        <td>{{ session.student.path.name }}</td>
                        <td>{{ session.project.name }}</td>
                        <td>{{ session.type }}</td>
                        <td>{% if session.noshow == true %}Oui{% else %}{{ session.noshow }}{% endif %}</td>
                        <td>{{ session.price }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'bill/_confirm_session_modal.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>
    <script src="{{ asset('assets/js/bill.js') }}"></script>
    <script>
        var projects = [];
        var selectedProject;

        $(document).ready(function(){
            $('#session_project').attr("disabled", "disabled");

            showDatePicker();

            $.ui.autocomplete.prototype._renderItem = function( ul, item){
                var term = this.term.split(' ').join('|');
                var re = new RegExp("(" + term + ")", "gi") ;
                var t = item.label.replace(re,"<b>$1</b>");
                return $( "<li></li>" )
                    .data( "item.autocomplete", item )
                    .append( "<a>" + t + "</a>" )
                    .appendTo( ul );
            };
            $('#session_student_fullname').autocomplete({
                source: function(query, response) {
                    var term = query.term;
                    var link = "{{ absolute_url(path('ajax_students', {'term': "query" })) }}";
                    link = link.replace("query", term);
                    $.ajax({
                        url: link,
                        beforeSend: function () {
                            $('#student-loading').show();
                        },
                        dataType: 'json',
                        success: function (data) {
                            if(data.length === 0) {
                                var array = [
                                    {
                                        label: 'Add ' + term,
                                        value: term,
                                        path: null,
                                    }
                                ];
                                response(array);
                            } else {
                                var array = data.error ? [] : $.map(data, function(object) {
                                    var student = object.student;
                                    return {
                                        label: student.firstname + " " + student.lastname,
                                        value: student.id,
                                        path: student.path.id
                                    };
                                });
                                response(array);
                            }
                        },
                        complete: function () {
                            $('#student-loading').hide();
                        }
                    });
                },
                select: function(event, ui) {
                    if ($.isNumeric(ui.item.value)) {
                        $("#session_student_fullname").val(ui.item.label);
                        $("#session_student_id").val(ui.item.value);
                        var option = '#session_student_path option[value=' + ui.item.path + ']';
                        $(option).attr("selected","selected");
                        $('#session_student_path').removeAttr('disabled');
                        getProjectsByPath($("#session_student_path").val());
                    } else {
                        $('#session_project').attr("disabled", "disabled");
                        $("#session_student_fullname").val(ui.item.value);
                        $("#session_student_id").val(null);
                        $('#session_student_path').prop('selectedIndex', 0);
                        $('#session_student_path').removeAttr('disabled');
                    }
                    return false;
                },
                minLength: 2
            });


            $('#session_student_path').change(function () {
                getProjectsByPath($(this).val());
            });

            $('#session_project').change(function () {
                var project = parseInt($(this).val());
                projects.forEach(function (key) {
                    if (key.id === project) {
                        selectedProject = key;
                        getPrice();
                    }
                })
            });

            $('#session_noshow').on('click', function () {
                getPrice();
            });

            $('#add-session').on('click', function () {
                $('#session-type').html($('#session_type').val());
                $('#session-date').html($('#session_date').val());
                if ($('#session_noshow').is(':checked')) $('#session-noshow').html('No-show');
                $('#session-student').html($('#session_student_fullname').val());
                if ($('#session_student_id').val() === "") $('#new-student').html('Ce nouvel étudiant sera enregistré en même temps que la session.');
                $('#session-project').html(selectedProject.name);
                $('#session-price').html($('#session_price').val() + ' €');
            });

            $('#submit').click(function(){
                $('#session_form').submit();
            });
        });

        function getProjectsByPath(value) {
            var link = "{{ absolute_url(path('ajax_project', {'project_id': "value" })) }}";
            link = link.replace("value", value);
            $.ajax({
                url: link,
                beforeSend: function () {
                    $('#project-loading').show();
                },
                complete: function () {
                    $('#project-loading').hide();
                },
                success: function (data) {
                    $('#session_project option').remove();
                    var table = data.data;
                    var select = $('#session_project');
                    var placeholder = '<option selected>Sélectionnez un projet</option>';
                    select.prepend(placeholder);
                    table.forEach(function (project) {
                        projects.push(project);
                        var option = '<option value="' + project.id + '">' + project.name + '</option>';
                        select.append(option);
                    });
                    $('#session_project').removeAttr('disabled');
                }
            })

        }
    </script>
{% endblock %}
